# CakePHP specific files #
##########################
/config/.env
/logs/*
/tmp/*
/vendor/*

/config/bootstrap.php
/config/app_local.php
/config/app_local.php
/config/bootstrap.php
/config/app_local.php
/config/*.php
